.app {
  margin: 0 auto;
  max-width: 600px;
  border: 1px soli black;
}

hr {
  margin-left: 1em;
}

.app__title {
  margin-left: 1em;
}
.app__title > h1 {
  display: flex;
}

.app__items {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  margin: 0;
  padding: 0 !important;
}

.app__items > li {
  margin: 1em;
  padding: 0.5em;
  list-style: none;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.app__desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 !important;

  /* border: 2px solid red; */
}

.app__desc > li {
  list-style: none;
  border: 1px solid black;
  margin: 1em;
  padding: 1em;
  background-color: #f5f5f5;
  border-radius: 15px;
}
